.card {
  width: 500px;
  max-width: 90%;
  height: 300px;
  background: #1d1d1d;
  border-radius: 20px;
  text-align: center;
}
.headerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.heading {
  font-size: 22px;
  font-weight: bold;
  margin-left: 10px;
}
